* {
    margin: 0;
    padding: 0;
}

.hero {
    height: 70vh;
    margin-bottom: 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 6px;

    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 2s;
    border-style: none;
}

.hero1 {
    height: 70vh;
    margin-bottom: 6px;
    
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline;
    transform: translateX(0px);
    transition: transform 1s; 
    animation: bounce1 1.5s;
}
@keyframes bounce1 {
    from { transform: translateX(-500px); }
    to { transform: translateX(0vw); }
  }
  .hero1:hover {
    transform: scale(1.05);
}



  .hero2 {
    height: 70vh;
    margin-bottom: 6px;
    
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;


    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline;
    transform: translateX(0px);
    transition: transform 1s; 
    animation: bounce2 1s;
}
@keyframes bounce2 {
    from { transform: translateX(-500px); }
    to { transform: translateX(0vw); }
  }
  .hero2:hover {
    transform: scale(1.05);
}



  .hero3 {
    height: 70vh;
    margin-bottom: 6px;
    
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline;
    transform: translateX(0px); 
    transition: transform 1s;
    animation: bounce3 2s;
}
@keyframes bounce3 {
    from { transform: translateX(500px); }
    to { transform: translateX(0vw); }
  }
  .hero3:hover {
    transform: scale(1.05);
}


  .header {
    font-size: 30px;
    opacity: 0.6;
    width:1350px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    font-family: serif ;
}

.logo {
    width:80px;
    cursor: pointer;
    margin-left: 0px;
}

.logo2 {
    margin-bottom: -9px;
}

nav {
    padding: 0, 0;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    display: inline;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(175, 116, 7);
    font-weight: bold;
    font-size: 25px;
}

h1 {
    font-size:70px;
    letter-spacing: 5px;
    opacity: 0.8;
    color: black;
}
h5 {
    color: rgb(119, 115, 115);
    font-size: 30px;
    align-items: center;
}


body {
    font-family: 'Open Sans', sans-serif;
    color: grey;
    background-color:white;
    
}

.container {
    max-width: 100%;
    margin: 170px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -1px -1px 6px 1px #9E9E9E;
    padding: 20px;
    background-color: rgb(250, 232, 232);
}

.button1 {
    background-color:white;
    height: 24px;
    font-family: serif;
    /* font-weight: bold; */
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
}
.button2 {
    background-color:rgb(67, 63, 80) ;
    color: white;
    text-align: center;
    height: 23px;
    border-width: 1px;
    border-color:rgb(28, 28, 29);
    border-radius: 2px;
    font-family: serif;
    /* font-weight: bold; */
    font-size: 14px;
    /* margin-bottom: 6px; */
    /* margin-top: -4px; */
    margin-left: 5px;
    cursor: pointer;
}
.button1:hover {
    background-color: black;
    color: white;
}

.button2:hover {
    background-color: rgb(6, 107, 107)
}

.form-volunteer {
    padding-top: 20px;
}

.submit {
    width: 180px;
    height: 45px;
    background-color: darkgoldenrod;
    border-radius: 2px;
    color: white;
    font-size: 18px;
    margin: auto;
    border-style: none;
    cursor: pointer;
    font-family: serif;
}












.ftco-section {
    padding: 8em 0;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
.container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



   








.lead {
    color: #777;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 14px;
    margin: 20px 0;
}

.section__booking-form-group {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    flex-wrap: wrap;
}
footer {
    background-color: #04041b;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    margin: 25px;
    font-family: sans-serif;
   
}
.footer-content {
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
}
.col-1, .col-2, .col-3, .col-4 {
    flex: 0 0 calc(25%-2em);
    padding: 10px 20px;
}
.footer-social {
    padding: 20px 0;
}
.footer-social a {
    background-color: #1a1a1a;
    color: #fff;
    padding: 6px;
    margin-right: 5px;
    opacity: .6;
    width: 10px;
    height: 10px;
}
