* {
    margin: 0;
    padding: 0;
}
/* body {
    box-sizing: border-box;
} */
.container {
    max-width: 1200px;
    margin: auto;
    padding: auto;
}
.hero {
    height: 70vh;
    margin-bottom: 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 6px;

    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 2s;
    border-style: none;
}                       

.hero1 {
    height: 70vh;
    margin-bottom: 6px;
    
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline;
    transform: translateX(0px);
    transition: transform 1s; 
    animation: bounce1 1.5s;
}
@keyframes bounce1 {
    from { transform: translateX(-500px); }
    to { transform: translateX(0vw); }
  }
  .hero1:hover {
    transform: scale(1.05);
}
  .hero2 {
    height: 70vh;
    margin-bottom: 6px;
    
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;


    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline;
    transform: translateX(0px);
    transition: transform 1s; 
    animation: bounce2 1s;
}
@keyframes bounce2 {
    from { transform: translateX(-500px); }
    to { transform: translateX(0vw); }
  }
  .hero2:hover {
    transform: scale(1.05);
}

  .hero3 {
    height: 70vh;
    margin-bottom: 6px;
    
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline;
    transform: translateX(0px); 
    transition: transform 1s;
    animation: bounce3 2s;
}
@keyframes bounce3 {
    from { transform: translateX(500px); }
    to { transform: translateX(0vw); }
  }
  .hero3:hover {
    transform: scale(1.05);
}

h1 {
    font-size:70px;
    letter-spacing: 5px;
    opacity: 0.8;
    color: #000000;
}
h3 {
    text-align: center;
}

#subTitle {
    color: #000;
    font-size: 22px;
    font-weight:550;
    margin: 20px 0px;  
}

.button1 {
    background-color:white;
    height: 31px;
    width: 100px;
    color: black;
    border-width: 1px;
    border-color:rgb(28, 28, 29);
    font-family: serif;
    font-size: 14px;
    cursor: pointer;
}
.button2 {
    background-color: rgb(53, 49, 68);
    color: white;
    height: 30px;
    width: 100px;
    border-width: 1px;
    border-color:rgb(28, 28, 29);
    font-family: serif;
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 145px;
    cursor: pointer;
}
.button1:hover {
    background-color: black;
    color: white;
}

.button2:hover {
    background-color: rgb(6, 107, 107)
}


*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* carousel */
#slider .carousel-item {
    height: 610px;  
}
  
.carousel-caption {
    font-size: 18px;
}
  
.carousel-item>img {
    width: 1165px;
    height: 610px;
}
/* //////////////// */
.btn-primary {
    color: #000;
    background-color: transparent;
    border-style: none;
}
.hamburger {
    color: #000;
    background-color: transparent;
    border-style: none;
}
.menu_h {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: black, solid 1px;
    text-decoration: black;
}
.menu_ul_2 a {
    color: black;
    margin: 0px 10px 0px;
} 
.menu_ul_1 a {
    font-size: 18px;
} 

#btnnav {
    background-color: transparent;
    color: black;
    border-color: transparent;
    border: transparent;
}
.moduleHeadline {
    text-align: center;
}
.moduleTitle {
    
    width: 100%;
    margin: 0px 0px 20px; 
    padding: 0px;
    text-align: center;
   
}
.moduleTitle::before {
    display: inline-block;
    margin: 0 20px 10px 0;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 400px;
}
.moduleTitle::after {
    display: inline-block;
    margin: 0 20px 10px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 400px;
}
.title {
    margin-left: 150px;
}

.logo_img {
    background-color:#000;  
}
.logo {
    letter-spacing: 20px;
    margin-left: 20px;
    font-size: 56px;
    font-weight: 600;
}

/* SEARCH */
    
#globalSearch {
    margin: 0 0 0 30px;
    width: 220px;
    height: 40px;
    border-radius: 5px;
    border: grey 1px solid;
    padding-left: 20px;
}
.menuIcon {
    margin: 0 0 0 0px;
    font-size: 40px; 
    cursor: pointer;
}

/* ////////////////// */
.addressbar_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
a {
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}
#addressBook {
  
    list-style-type: none; 
    color: black;
    font-family:'Gothic', 'Arial Narrow', Arial, sans-serif
}
.bold {
    font-weight: 600;
    text-decoration: none;
}
.hook a {
    color: black;
}
.hook {
    list-style-type: none;
}
.sidenav {
    display: flex;
    flex-direction: row;
}
.col-sm-6 hook {
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
#parfume {
    display: flex;
    align-items: center;
    justify-content: center;
}
.parfume {
    width: 1110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parfumeContainer {
    position: relative;
    width: 50%;
}
.image-button {
  position: absolute;
  bottom:32%;
  left: 42%;
}

.video-container {
    width: 1105px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding-right: 0px;
    align-items: center;
    justify-content: center;
    
}
#advantage-list  {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    margin-left:0px; ;
    background: #000;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: 0px;  
    
   
    
}
#advantage-list .inverted {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px;
    height: 200px;
    width: 800px;
    
}
/* /////////////////// */
.shopify-section {
    background-image: url('../img/map.png');
    cursor: pointer;
}
#stroe-locator .btn-store-locator {
    width: 100%;
    max-width: 300px;
    border-radius: 25px;
    background-color: black;
    color: white;
    margin-left: 0;
    font-weight:  lighter;
}
.image-button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
 }
 #stroe-locator .btn-store-locator:hover {
    background-color:rgb(235, 222, 222);
    color: black;
    border-color: rgb(197, 169, 169);
    z-index: 100;
    transition: 0.5s;
 }
.text-center {
    text-align: center!important;
    font-weight: lighter;
}
.advantage-list-items .icon.adv-icon-ship {
    background: url('https://cdn.shopify.com/s/files/1/0341/3498/2789/t/181/assets/ship.svg');
    color: white;
}
.advantage-list-items .icon.adv-icon-rtn {
    background: url('https://cdn.shopify.com/s/files/1/0341/3498/2789/t/181/assets/refresh.svg');
}
.advantage-list-items .icon.adv-icon-gift {
    background: url('https://cdn.shopify.com/s/files/1/0341/3498/2789/t/181/assets/gift.svg');
}
.advantage-list-items .icon.adv-icon-trial {
    background: url('https://cdn.shopify.com/s/files/1/0341/3498/2789/t/181/assets/makeup.svg');
}
.social-icons .icon.icon-social.icon-social-fb {
    background: url('https://cdn.shopify.com/s/files/1/0341/3498/2789/t/181/assets/facebook.svg');
}
.social-icons .icon.icon-social.icon-social-tw {
    background: url('https://cdn.shopify.com/s/files/1/0341/3498/2789/t/181/assets/twitter.svg');
}
.social-icons .icon.icon-social.icon-social-tum {
    background: url('https://cdn.shopify.com/s/files/1/0341/3498/2789/t/181/assets/tumblr.svg');
}
.social-icons .icon.icon-social.icon-social-ins {
    background: url('https://cdn.shopify.com/s/files/1/0341/3498/2789/t/181/assets/instagram.svg');
}

#footer .icon.icon-cart {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background: url('https://cdn.shopify.com/s/files/1/0341/3498/2789/t/181/assets/bag.svg');
    vertical-align: text-bottom;
}
.image-button {
    cursor: pointer;;
    color: #fff;
    background: #000;
    border-radius: 1.5rem;
    display: inline-block;
    line-height: 1;
    
    padding: 0.72rem 3rem;
    z-index: 2;
}
.row {
    display: flex;
    flex-direction: row;
}


body > .container{
    margin:0px;
    padding:0px;
    min-width:100%;
    max-width:100%;
    background:#ffffff;
    height:auto;

}
 .container {
    margin:0px auto;
    min-width:1000px;
    max-width:1000px;
    height:auto;
    
}

/* canvas_vector*
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */


#particle-canvas {
  width: 100%;
  height: 400px;
  position: absolute;
  bottom: 20%;
  
}
/* cavas_Orb */

.opa {
  animation: flickr 6s ease-in-out infinite;
  animation-fill-mode: both;
  height: 400px;
  bottom: 40%;
  
}

canvas {
  animation: floatting 10s ease-in-out infinite;
  animation-fill-mode: both;
}

@keyframes floatting {
  0%,
  100% {
    transform: translate3d(0, -5px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes flickr {
  0%,
  100% {
    opacity: 1;
    transform: translate3d(-5px, 0px, 0);
  }
  25%,75% {
     opacity: 1;
  }
  50% {
    opacity: .5;
    transform: translate3d(5px, 0px, 0);
  }
}
/* canvas_ocean */
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
  }
  
